@model SmartHotelManagement.Model.Room

@{
    ViewData["HeaderTitle"] = "Room Details";
    ViewData["BreadcrumbFirst"] = "Home";
    ViewData["BreadcrumbActive"] = "Room Details";
}

<div class="row">
    <div class="col">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Room Details</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RoomNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RoomNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RoomType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RoomType.RoomTypeName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FloorNo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FloorNo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Capacity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Capacity)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BaseRate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BaseRate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Notes)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ModifiedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ModifiedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RoomImage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RoomImage)
                    </dd>
                    <div class="col-sm-10">
                       @*  Show Current image preview *@
                          @if (!string.IsNullOrEmpty(Model.RoomImage))
                          {
                            <img src="@(Url.Content("~" + Model.RoomImage))" style="width:150px;height:150px;border-radius:8px;object-fit:cover;" alt="Current photo" />
                        }
                    </div>
                </dl>
            </div>
            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@Model.RoomId" class="btn btn-info">Edit</a>
                <a asp-action="Index" class="btn btn-default float-right">Back to List</a>
            </div>
        </div>
    </div>
</div>
